#pilot_map { height: 500px;
}

/* Bottom left text */
#marker-coordinates {
  color: lightgray;
  font-weight: bold;
  font-size: 120%;
  position: absolute !important;
  bottom: 30px !important;
  left: 30px !important;
  z-index: 1000 !important;
}