flask
flask_restful
flask-cors
requests==2.30.0
scikit-learn==1.2.2
keras==2.12.0
#tensorflow
joblib==1.2.0
pandas==2.0.1
wrapt==1.14.1
absl-py==1.4.0
protobuf==4.24.1
typing_extensions==4.7.1
gast==0.4.0
astunparse==1.6.3
termcolor==2.3.0
opt-einsum==3.3.0
flatbuffers==23.5.26
