
input[type=text], select, textarea, input[type=number] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #e1e1e1;
  padding: 20px;
  overflow-y: auto;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}


.col-30 {
  float: left;
  width: 30%;
  margin-top: 6px;
}

.col-70 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

.col-45 {
  float: left;
  width: 45%;
  margin-top: 6px;
}

.col-55 {
  float: left;
  width: 55%;
  margin-top: 6px;
}

.col-srvregistration {
  float: left;
  width: 19%;
  margin-top: 6px;
}

.col-srvregistration-tables {
  float: left;
  width: 100%;
  margin-top: 40px;
}

#submit-btn{
  margin-top: 10%;
  background-color: #04AA6D;
  color: white;
  padding: 6% 6%;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.8;
}

#submit-srvc-btn, #submit-user-btn{
  margin-top: 7%;
  background-color: #04AA6D;
  color: white;
  padding: 1%;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.8;
}

#submit-srvc-btn:hover, #submit-user-btn:hover{
  background-color: #6ccda9;
  color: black;
}

#add-operation-btn{
  margin-top: 7%;
  margin-left: 45%;
  background-color: #04AA6D;
  color: white;
  padding: 1%;
  border: none;
  cursor: pointer;
  width: 12%;
  opacity: 0.8;
}


#add-params-btn, #add-oper-btn, #add-inputparams-btn, #add-outputparams-btn, #add-urls-btn, #add-billing-address-btn, #add-categories-btn{
  margin-top: 1%;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  padding: 6px;
  opacity: 0.8;
}

#add-reqserv-btn, #add-offservuser-btn{
  margin-top: 1%;
 /* margin-right:32%;
   width: 12%;
*/
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  padding: 6px;
  opacity: 0.8;
}

#add-optserv-btn, #add-obtservuser-btn{
  margin-top: 1%;
 /* margin-right:19%;
  width: 12%;*/
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  padding: 6px;
  opacity: 0.8;
} 

.test{
  background-color: red;

}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
