* {
  box-sizing: border-box;
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable, #devicesTable, #edgeCloudsTable, #usersTable, #applicationsTable, #productsTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 14px;
}

#edgeCloudNodesTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 14px;
  margin-top: 1%;
  margin-bottom: 1%;

}

#myTable th, #myTable td, #devicesTable th, #devicesTable td, #edgeCloudsTable th, #edgeCloudsTable td, #edgeCloudNodesTable th, #edgeCloudNodesTable td, #usersTable th, #usersTable td, #applicationsTable th, #applicationsTable td, #productsTable th, #productsTable td{
  text-align: center;
  padding: 12px;
}

#myTable tr, #devicesTable tr, #edgeCloudsTable tr, #edgeCloudNodesTable tr, #usersTable tr, #applicationsTable tr, #productsTable tr{
  border-bottom: 1px solid #ddd;
  text-align: center;
  background-color: white;
}

#myTable tr.header, #myTable tr:hover , #devicesTable tr.header, #devicesTable tr:hover, #edgeCloudsTable tr.header, #edgeCloudsTable tr:hover, #edgeCloudNodesTable tr.header, #edgeCloudNodesTable tr:hover, #usersTable tr.header, #usersTable tr:hover, #applicationsTable tr.header, #applicationsTable tr:hover, #productsTable tr.header, #productsTable tr:hover{
  background-color: #f1f1f1;
}