.tandembutton {
  padding: 5px 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 10px 10px 4px #999;
}

.tandembutton:hover {background-color: #3e8e41}

.tandembutton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#waitimg {
  position: absolute;
  width: 0px;
  height: 0px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: red;
}
